body {
  background-color: #000;
  overflow: auto;
  user-select: none;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  color: white;
}

.home img {
  width: 20%;
  margin: 50px;
}